@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>In case you want to contact me:</p>

<address>
    <strong>You can reach me at:</strong> <a href="mailto:henpia@gmail.com">henpia at gmail.com</a>
</address>